* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 90vh;
    background: #ffede8;
}

.App {
    max-width: 1200px;
    width: 100%;
    min-height: 80vh;
    height: auto;
    border: 1px solid black;
    margin: 50px auto;
    background: #bec8e0;
    display: flex;
    position: relative;
}

.aside {
    width: 26%;
    height: 100%;
    position: absolute;
}

.countContainer {
    height: 250px;
    border: 1px solid green;
}

.questionContainer {
    right: 0;
    width: 70%;
    height: auto;
    position: absolute;
}

.subject {
    width: 100%;
    height: 50px;
    border: 1px solid red;
    text-align: center;
}

.answer {
    border: 1px solid black;
    background: #f8ffb6;
    margin-top: 15px;
}

.quest {
    margin: 25px 0 10px 50px;
    border: 1px solid black;
}

.green {
    background: #77ff77;
}

.red {
    background: #ff6464;
}

.inpText {
    width: 250px;
    height: 25px;
}


