* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 90vh;
    background: #ffede8;
}

.App {
    max-width: 1200px;
    width: 100%;
    min-height: 80vh;
    height: auto;
    border: 1px solid black;
    margin: 50px auto;
    background: #bec8e0;
    display: flex;
    position: relative;
}

.main {
    width: 100%;
}

.startPage {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.aside {
    width: 26%;
    height: 100%;
    position: absolute;
}

.countContainer {
    height: 250px;
    border: 1px solid green;
}

.questionContainer {
    right: 0;
    width: 70%;
    height: auto;
    position: absolute;
}

.subject {
    width: 100%;
    height: 50px;
    border: 1px solid red;
    text-align: center;
}

.answer {
    border: 1px solid black;
    background: #f8ffb6;
    margin-top: 15px;
}

.quest {
    margin: 25px 0 10px 50px;
    border: 1px solid black;
}


.inpText {
    width: 250px;
    height: 25px;
}

.typeAnswer {
    margin: 0 5px;
    font-style: italic;
}

.countBtn {
    width: 30px;
    height: 50px;
    background: white;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 1px;
}

.active {
    border: 3px solid #2144fc;
}

.answerAlready {
    background: #a2a2a2;
}

.incompleteAnswer {
    background: #fdfd70;
}

.green {
    background: #77ff77;
}

.red {
    background: #ff6464;
}

.orange {
    background: #ffa264;
}

.submitTable {
    display: flex;
    width: 500px;
    justify-content: space-around;
    border: 1px solid black;
}

.submitCell {
    width: 50%;
}

.answerTable {
    text-align: center;
}

.numberQuestion {
    padding-left: 10px;
}

.timeRunningOut {
    color: red;
}

.create {
    border: 1px solid red;
}

.incorrect {
    background: #ff6464;
}

.incorrect::after {
    content: 'Deadline cannot be earlier than time limit finished.';
}

.attempts {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.attempts-result {
    background: #bfbfbf;
}

.text-danger {
    color: red;
}

.danger {
    border: 2px solid red;
}

.testResult {
    display: flex;
    border: 1px solid red;
    width: 300px;
    justify-content: space-around;
}

